Monitoring Tool/Vorlage/MonitoringComplete.zip
Monitoring Tool/Server.csv
Monitoring Tool/Server und Port.xlsx
Monitoring Tool/Programm/externalJARs/lib/Bibliotheken/json-simple-1.1.1.jar
Monitoring Tool/Programm/externalJARs/lib/Bibliotheken/gson-2.6.2.jar
Monitoring Tool/Programm/externalJARs/lib/Bibliotheken/gson-2.6.2-sources.jar
Monitoring Tool/Programm/externalJARs/lib/Bibliotheken/gson-2.6.2-javadoc.jar
Monitoring Tool/Programm/GUI/agix-material-fx-materialfx-material-design-for-javafx-692b52b67576/readme.md
Monitoring Tool/Programm/GUI/agix-material-fx-materialfx-material-design-for-javafx-692b52b67576/materialfx-toggleswitch.fxml
Monitoring Tool/Programm/GUI/agix-material-fx-materialfx-material-design-for-javafx-692b52b67576/materialfx-toggleswitch.css
Monitoring Tool/Programm/GUI/agix-material-fx-materialfx-material-design-for-javafx-692b52b67576/material-fx-v0_3.css
Monitoring Tool/Programm/GUI/agix-material-fx-materialfx-material-design-for-javafx-692b52b67576/MaterialFxTester.fxml
Monitoring Tool/Programm/GUI/Thesis1.pdf
Monitoring Tool/Programm/GUI/Icons/icons8-verwaltungswerkzeuge-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-verbunden-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-unausgefüllte-checkbox-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-synchronisieren-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-speichern-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-server-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-router-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-plus-2-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-netzwerk-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-multiplizieren-2-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-menü-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-menü-2-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-löschen-96 (1).png
Monitoring Tool/Programm/GUI/Icons/icons8-info-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-hilfe-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-herunterfahren-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-getrennt-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-fehler-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-benutzerhandbuch-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-bearbeiten-96.png
Monitoring Tool/Programm/GUI/Icons/icons8-ausgefüllte-checkbox-96.png
Monitoring Tool/Programm/GUI/Bitmarck_logo.png
Monitoring Tool/Port.csv
Monitoring Tool/Layout.xlsx
Dokumentation/Infos/Wissen/java.pdf
Dokumentation/Infos/Wissen/JavaFX/Pro JavaFX 8 A Definitive Guide to Building Desktop, Mobile, and Embedded Java Clients.pdf
Dokumentation/Infos/Wissen/JavaFX/Mastering.JavaFX.8.Controls.epub
Dokumentation/Infos/Wissen/JavaFX/JavaFX For Dummies.pdf
Dokumentation/Infos/Wissen/Datenbank/uml.pdf
Dokumentation/Infos/Wissen/Datenbank/subway Tabellen anlegen.sql
Dokumentation/Infos/Wissen/Datenbank/refderby.pdf
Dokumentation/Infos/Wissen/Datenbank/jdbc_jdb.pdf
Dokumentation/Infos/Wissen/Datenbank/dbAnlegen Budgetplaner.sql
Dokumentation/Infos/Wissen/Datenbank/SQuirreL_de.pdf
Dokumentation/Infos/Wissen/Datenbank/PortServerTabellen anlegen.sql
Dokumentation/Infos/Wissen/Datenbank/GettingStartedusingtheSQuirreLSQLClient.pdf
Dokumentation/Infos/Wissen/Datenbank/D-080416-Paulus-GrundkonzepteOOP.pps
Dokumentation/Infos/Präsentation/vorlageProjekt.pptx
Dokumentation/Infos/Präsentation/PräsentationVorlage2018Bitmarck.pptx
Dokumentation/Infos/Präsentation/PowerPoint/Facebook Für Rentner.pptx
Dokumentation/Infos/Präsentation/PowerPoint/BM_PT_I_Präsentationsmaster.potx
Dokumentation/Infos/Präsentation/PowerPoint/20170403_Die BITMARCK-Unternehmensgruppe - Bundesliga_final.pptx
Dokumentation/Infos/Projekt anderer Menschen/Vorlage_Projektdokumentation_ITBerufe.pdf
Dokumentation/Infos/Projekt anderer Menschen/Handreichung_zur_Projektarbeit_in_den_IT_Berufen-data.pdf
Dokumentation/Infos/Projekt anderer Menschen/Externe Quellen/rmu_projektdoku.pdf
Dokumentation/Infos/Projekt anderer Menschen/Externe Quellen/doku.pdf
Dokumentation/Infos/Projekt anderer Menschen/Externe Quellen/ProjektdokumentationFachinformatikerAnwendungsentwicklung2015MarkusAmshove.pdf
Dokumentation/Infos/Projekt anderer Menschen/Externe Quellen/ProjektantragFachinformatikerAnwendungsentwicklung2015MarkusAmshove.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Hamburg/Präsi FIAE Hamburg 2.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Hamburg/Präsi FIAE Hamburg 1.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Hamburg/Projektantrag FIAE Hamburg 2.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Hamburg/Projektantrag FIAE Hamburg 1.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Hamburg/Doku FIAE Hamburg 2.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Hamburg/Doku FIAE Hamburg 1.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Fabian/Projektdokumentation_Fabian_Fuchs.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Fabian/Abschlusspräsentation_Fabian_Fuchs.pptx
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Präsi FIAE Essen 4.pptx
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Präsi FIAE Essen 3.pptx
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Präsi FIAE Essen 1.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Projektantrag FIAE Essen 4.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Projektantrag FIAE Essen 3.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Projektantrag FIAE Essen 2.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Projektantrag FIAE Essen 1.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Doku FIAE Essen 4.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Doku FIAE Essen 3.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Doku FIAE Essen 2.pdf
Dokumentation/Infos/Projekt anderer Menschen/BM/Essen/Doku FIAE Essen 1.pdf
Dokumentation/Infos/BM Infos/Präsentation Ausbildung Fachinformatiker.pptx
Dokumentation/Infos/BM Infos/Projektmanagement/BMS_VA_I_Projektmanagement.docx
Dokumentation/Infos/BM Infos/Projektmanagement/BMS_RL_I_Projektmanagement.docx
Dokumentation/Infos/BM Infos/CD_Handbuch_20170517.pdf
Dokumentation/Infos/BM Infos/BM_PT_Vorlage_Unternehmenspräsentation.potx
Dokumentation/Infos/BM Infos/Azubi Leitfaden Zwischen- und Abschlussprüfung.pdf
Dokumentation/Bilder/Logos/cbw-college-berufliche-weiterbildung-gmbh-berlin_19871852_mw640h480_berlin.jpg
Dokumentation/Bilder/Logos/640px-Handelskammer-Hamburg-Logo.svg.png
Dokumentation/~$kumentation Projekt Kiank.docx
Dokumentation/~$ojektantrag.docx
*.tmp
